.service-main-container {
    border:none !important
}

.service-main-container .common-body {
    padding:0 !important
}

.service-main-header {
    color: #333;
    display: none;
    padding: 6px 0;
    display: none;
    background-size: cover;
    padding-top:12px
}

.service-main-header h1 {
    margin-top: 6px;
    font-size: 1.4em;
    margin-bottom: 0;
    color: #008550;
    font-weight:bold
}

.service-main-header .breadcrumb {
    top: initial;
    font-size: 14px;
    margin:0
}

.service-main-header .breadcrumb li.active {
    color:#333
}

.service-main-description p, .service-main-description {
    font-size: 14px;
    line-height:1.5
}

.service-secondary-header {
    width: 45%;
    color: #555;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 18px;
    display: inline-block;
    border-bottom: 3px solid #008550;
    font-weight:bold
}

.service-progressbar:before {
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    right: 0;
    display: block;
    margin-top: 24px;
    position: absolute;
    background:#e8e8e8
}

.service-progressbar #progressbar {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-top:20px !important
}

.service-progressbar #progressbar li {
    font-size: 14px;
    display: table-cell;
    float:none !important
}

.service-progressbar #progressbar li:before {
    width: 52px;
    z-index: 8;
    line-height: 48px;
    font-size: 20px;
    background: #fff;
    border:2px solid #e8e8e8
}

.service-progressbar #progressbar li:after {
    top:24px
}

.service-progressbar #progressbar li.active:before {
    color: #008550;
    background: #fff;
    border:2px solid #008550
}

.service-progressbar #progressbar li.active label {
    color:#008550
}

.service-progressbar #progressbar li.completed:before {
    background: #008550;
    border:2px solid #008550
}

.service-sub-header {
    width: 45%;
    color: #555;
    font-size: 16px;
    line-height: 2.4;
    margin-bottom: 18px;
    display: inline-block;
    border-bottom: 3px solid #797979;
    font-weight:bold
}

.service-sub-header.lead {
    font-size: 18px;
    border-bottom:3px solid #008550
}

.service-messages ul {
    margin: 0;
    margin-bottom:18px
}

.message-alert {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 14px;
    position: relative;
    display: table;
    width: 100%;
    margin:6px 0
}

.message-alert li, .message-alert span {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    padding:12px
}

.message-alert:before {
    content: '';
    width: 56px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 56px;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    display: table-cell;
    vertical-align: middle;
    text-decoration: inherit;
    -webkit-font-smoothing:antialiased
}

.message-alert:after {
    content: '';
    display: table;
    clear:both
}

.message-error {
    color: #d71e24;
    background-color:#f9dfe0
}

.message-error:before {
    content: '\e808';
    background-color:#d71e24
}

.message-success {
    color: #008550;
    background-color:#e7fae1
}

.message-success:before {
    content: '\e804';
    background-color:#008550
}

.message-warning {
    color: #bd872a;
    background-color:#fcf8e3
}

.message-warning:before {
    content: '\e828';
    background-color:#bd872a
}

.message-info {
    color: #31708f;
    background-color:#d9edf7
}

.message-info:before {
    content: '\e829';
    background-color:#31708f
}

.service-sub-container {
    border: none !important;
    margin-bottom:15px
}

.service-sub-container .common-body {
    padding:0 !important
}

.service-sub-container .service-sub-header {
    width: 45%;
    color: #555;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 14px;
    display: inline-block;
    border-bottom: 3px solid #797979;
    font-weight:bold
}

.service-sub-container .service-sub-body {
    padding: 10px;
    background: #f7f7f7;
    border: 1px solid #e8e8e8;
    border-left: 3px solid #179d60;
    margin-top: 0;
    padding: 16px;
    margin-bottom:0
}

.rtl .service-sub-container .service-sub-body {
    border: 1px solid #e8e8e8;
    border-right:3px solid #179d60
}

.service-sub-container .service-sub-body input[type=text], .service-sub-container .service-sub-body input[type=date], .service-sub-container .service-sub-body input[type=search], .service-sub-container .service-sub-body input[type=number], .service-sub-container .service-sub-body input[type=password], .service-sub-container .service-sub-body select {
    border-color:#e2e2e2 !important
}

.service-sub-body .tbl3column {
    margin-bottom:0
}

.service-start-card {
    border: 1px solid #ddd;
    padding: 18px;
    display: block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05), 0 3px 6px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    position:relative
}

.service-start-card:hover {
    background-color:#fbfbfb
}

.service-start-card h3 {
    font-size: 16px;
    color: #333;
    margin: 12px 0;
    line-height: 1.4;
    text-align: center;
    font-weight: bold;
    font-family:Arial
}

.service-start-card p {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin:6px 0
}

.service-start-card a {
    display: block;
    text-align:center
}

.service-start-card h3.title-success {
    color:#333
}

.service-start-card h3.title-warning {
    color:#ff9800
}

.service-start-card h3.title-alert {
    color:#ed0c0c
}

.service-modelbox {
    width: 700px;
    box-shadow:0 19px 38px rgba(0, 0, 0, 0.10), 0 15px 12px rgba(0, 0, 0, 0.10)
}

.service-modelbox .modelbox-header {
    background: #008550;
    font-size: 16px;
    padding: 16px;
    color: #fff;
    font-weight:bold
}

.service-modelbox .modelbox-body {
    padding: 24px;
    max-height: 500px;
    overflow-y:scroll
}

.service-modelbox .modelbox-body h3 {
    margin: 0;
    margin-bottom: 12px;
    font-size: 16px;
    color: green;
    font-weight:bold
}

.service-modelbox .modelbox-body ul {
    margin-bottom:12px
}

.service-modelbox .modelbox-body ul li {
    padding-top: 3px;
    padding-bottom:3px
}

button.round-button, input[type=submit].round-button, input[type=button].round-button {
    border-radius: 6px !important;
    height: 36px !important;
    font-size:14px !important
}

button.round-button.round-outline, input[type=submit].round-button.round-outline, input[type=button].round-button.round-outline {
    border: 1px #008550 solid !important;
    color: #008550 !important;
    background:transparent !important
}

button.round-button-small, input[type=submit].round-button-small, input[type=button].round-button-small {
    border-radius: 2px !important;
    height: 30px !important;
    font-size:12px !important
}

a.round-button {
    color: #fff !important;
    line-height: 34px;
    text-align: center !important;
    font-size: 14px !important;
    font-weight: normal !important;
    height: 36px !important;
    margin-right: 5px;
    border: 1px #2a815f solid !important;
    padding: 0 25px !important;
    font-family: "Droid Sans", Arial, sans-serif;
    background: #008550 !important;
    vertical-align: middle;
    border-radius: 6px !important;
    display:inline-block
}

a.round-button.round-outline {
    border: 1px #008550 solid !important;
    color: #008550 !important;
    background:transparent !important
}

@media screen and (max-width: 768px) {
    .service-sub-header, .service-sub-container .service-sub-header {
        width:100%
    }
}

.service-main-container {
    background-color:transparent !important
}

.service-sub-container .service-sub-body {
    background-color:white !important
}
